.game-bg {
  position: absolute;
  left: 39vw;
  top: 16vw;
  background-image: url("../../public/bgs/girlspeaking.avif");
  height: 20vw;
  width: 29.9vw;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.remark {
  position: absolute;
  left: 41.5vw;
  top: 21vw;
  width: 14vw;
  font-weight: 700;
  color: #189ab4;
  padding: 4px;
}

.gamePosition {
  position: absolute;
  left: 30vw;
  top: 12vw;
}

.gameHeading {
  /* padding: 2px; */
  color: #866b9f;
}

.gameOption {
  /* top: 20vw; */
  width: 200px;
  height: 80px;
  margin: 2px;
  background-color: #9570b8;
  color: #f3eff7;
  font-size: large;
  font-weight: bold;
  border: #bba8cd;
}

.gameOption:hover {
  background-color: #866b9f;
  border: 2px solid #f3eff7;
}
