.game-bg {
  position: absolute;
  left: 42vw;
  top: -6vw;
  background-image: url("../../public/bgs/Businesswoman.svg");
  height: 45.1vw;
  width: 29.9vw;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.game-bg1 {
  position: absolute;
  left: 24vw;
  top: -9.5vw;
  background-image: url("../../public/bgs/speech_bubble.png");
  height: 26vw;
  width: 25vw;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}
.remark {
  position: absolute;
  left: 27vw;
  padding: 2vw;
  top: -1vw;
  width: 25vw;
  font-size: 2.25vw;
  font-weight: 600;
  color: #866b9f;
  padding: 4px;
}

.gamePosition {
  position: absolute;
  left: 30vw;
  top: 12vw;
}

.gameHeading {
  /* padding: 2px; */
  color: #866b9f;
}

.gameOption {
  /* top: 20vw; */
  width: 200px;
  height: 80px;
  margin: 2px;
  background-color: #9570b8;
  color: #f3eff7;
  font-size: large;
  font-weight: bold;
  border: #bba8cd;
}

.gameOption:hover {
  background-color: #866b9f;
  border: 2px solid #f3eff7;
}
