html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  /* overflow: hidden; */
  /* background-color: #f1f1f1; */
  background-image: url("/public/bgs/wave.png");
  /* background-position: center center; */
}

:root {
  --bar-width: 60px;
  --bar-height: 6px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin-top: 20px;
  --hamburger-margin-right: 10px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.no-bg {
  background-color: white;
}

.landing-screen-bg {
  /* position: relative;
  top: -30px; */
  background-color: rgba(46, 125, 50);
  height: 100vh;
  width: 100vw;
  background-image: url("/public/bgs/My\ project\ \(1\).jpg");
  background-position-x: center;
  /* background-size: cover; */
  background-repeat: no-repeat;
}

.landing-screen-text-position1 {
  position: absolute;
  top: 150px;
  left: 4px;
  width: 260px;
}

.landing-screen-text-position2 {
  position: absolute;
  top: 420px;
  left: 4px;
  width: 260px;
}

.landing-screen-text-position3 {
  position: absolute;
  top: 300px;
  right: -30px;
  width: 280px;
}

.landing-screen-text-position4 {
  position: absolute;
  top: 300px;
  left: 280px;
  width: 240px;
  background-color: rgba(46, 125, 50, 0.9);
  padding: 16px;
}

.landing-screen-heading {
  font-size: 40px;
  color: white;
}

.landing-screen-description {
  padding: 4px;
  color: white;
}

.landing-screen-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 12px;
  margin-top: 50px;
  padding: 4px;
}

.landing-screen-link:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

/*Hamburger menu  */
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin-top);
  right: var(--hamburger-margin-right);
  /* z-index: 2; */
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--background);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.Navbar {
  display: flex;
  /* width: 100vw; */
  padding: 20px;
  /* border-bottom: 2px solid #f1f1f1; */
  background-color: rgba(46, 125, 50, 0.9);
  text-transform: uppercase;
}

.NavHeadingText {
  position: relative;
  left: 50px;
  font-weight: bolder;
  font-size: 20px;
  transform: scale(3.2, 2.5);
  color: #f1f1f1;
}

/* Mobile menu */

.sidebar-menu {
  transition: translate var(--animation-timing);
  translate: +100%;
  position: absolute;
  top: 117.5 / px;
  right: 0;
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  z-index: 2;
  background: rgba(46, 125, 50, 0.9);
  text-transform: uppercase;
}

.hamburger-menu:has(input:checked) + .sidebar-menu {
  translate: 0;
}

.sidebar-menu-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 70px;
  padding-top: 10px;
  border-bottom: 2px solid #f1f1f1;
  color: #f1f1f1;
}

.sidebar-menu-option:hover {
  cursor: pointer;
}

.sidebar-menu-option-text {
  position: absolute;
  color: inherit;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  color: #f1f1f1;
}

.sidebar-menu-option-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #f1f1f1;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: center;
}

.sidebar-menu-option-text:hover::after {
  transform: scaleX(1);
  transform-origin: center;
  transition-duration: 0.4s;
  text-decoration: none;
}

/*Login Form  */
/* .login-screen-bg {
  height: 100vh;
  width: 100vw;
  background-image: url("/public/bgs/himalaya.jpg");
  background-position: center center;
  background-size: cover;
} */

.LoginFormPosition {
  position: absolute;
  left: 25vw;
  top: 20vh;
}

.LoginForm {
  height: 55vh;
  width: 50vw;
  /* border: 5px solid silver; */
  overflow-x: nowrap;
  background: rgba(46, 125, 50, 0.9);
}

.LoginFormHeading {
  margin: 30px;
  color: #f1f1f1;
}

.LoginFormComponentsPosition {
  position: relative;
  left: 7vw;
}

.InputTextAreaPosition {
  margin: 10px;
}

.InputTextArea {
  width: 70%;
  height: 7vh;
}

.LoginLabel {
  display: block;
  margin: 2px;
  font-weight: bold;
  color: #f1f1f1;
}

.BtnPosition {
  position: relative;
  left: 29vw;
}

.RegisterBtn {
  position: relative;
  left: 18px;
  text-decoration: none;
}

.RegisterBtn:hover {
  text-decoration: underline;
}

.RegisterForm {
  height: 75vh;
  width: 50vw;
  overflow-x: nowrap;
  background-color: rgba(46, 125, 50, 0.9);
}

.btn {
  margin: 10px;
}

.PracticeOptionLayout {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.PracticeOption {
  padding: 10px;
  background-color: #14a44d;
  border-left: 2px solid white;
  color: white;
}

.PracticeOption:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*Guest Page */
/* .record-screen-bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("/public/bgs/amazon.jpg");
  background-position: center center;
  background-size: cover;
} */

/* .record-screen {
  position: relative;
  top: 50px;
} */

/* dashboard
.dashboard {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("/public/bgs/mountains.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* Mobile menu */
.dashboard-menu {
  margin-top: 10px;
  /* top:400px; */
}

.dashboard-menu-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 70px;
  padding-top: 10px;
  border-bottom: 2px solid white;
  color: white;
  background-color: rgba(46, 125, 50);
}

.dashboard-menu-option:hover {
  cursor: pointer;
}

.dashboard-menu-option-text {
  position: absolute;
  text-decoration: none;
}



.dashboard-menu-option-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: center;
}

.dashboard-menu-option-text:hover::after {
  transform: scaleX(1);
  transform-origin: center;
  transition-duration: 0.4s;
  text-decoration: none;
}

.dashboard-activity {
  position: relative;
  left: 25vw;
  right: 5vw;
  top: -15vh;
}

.recording-list-box {
  width: 73vw;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
}

.recording-list-element {
  background: rgba(46, 125, 50, 0.9);
  margin: 10px;
  width: 10vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.recording-list-text {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #f1f1f1;
}

.recording-list-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #f1f1f1;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: center;
}

.recording-list-text:hover::after {
  transform: scaleX(1);
  transform-origin: center;
  transition-duration: 0.4s;
  text-decoration: none;
}

.recording-list-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 32px;
  height: 32px;
  border: 2px solid;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  color: #f1f1f1;
}

.recording-list-icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 12px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 13px solid;
  top: 7px;
  left: 10px;
}
