html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  /* overflow: hidden; */
  /* background-color: #f1f1f1; */
  /* background-position: center center; */
}



.no-bg {
  background-color: white;
}

.landing-screen-bg {
  /* position: relative;
  top: -30px; */
  background-color: #0275d8;
  height: 100vh;
  width: 100vw;
  background-image: url("/public/bgs/My\ project\ \(1\).jpg");
  background-position-x: center;
  /* background-size: cover; */
  background-repeat: no-repeat;
}

.landing-screen-text-position1 {
  position: absolute;
  top: 150px;
  left: 4px;
  width: 260px;
}

.landing-screen-text-position2 {
  position: absolute;
  top: 420px;
  left: 4px;
  width: 260px;
}

.landing-screen-text-position3 {
  position: absolute;
  top: 300px;
  right: -30px;
  width: 280px;
}

.landing-screen-text-position4 {
  position: absolute;
  top: 300px;
  left: 280px;
  width: 240px;
  background-color: #0275d8;
  padding: 16px;
}

.landing-screen-heading {
  font-size: 40px;
  color: white;
}

.landing-screen-description {
  padding: 4px;
  color: white;
}

.landing-screen-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 12px;
  margin-top: 50px;
  padding: 4px;
}

.landing-screen-link:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}



/*Login Form  */
/* .login-screen-bg {
  height: 100vh;
  width: 100vw;
  background-image: url("/public/bgs/himalaya.jpg");
  background-position: center center;
  background-size: cover;
} */

.LoginFormPosition {
  position: absolute;
  left: 25vw;
  top: 20vh;
}

.LoginForm {
  height: 55vh;
  width: 50vw;
  /* border: 5px solid silver; */
  overflow-x: nowrap;
  background: rgba(46, 125, 50, 0.9);
}

.LoginFormHeading {
  margin: 30px;
  color: #f1f1f1;
}

.LoginFormComponentsPosition {
  position: relative;
  left: 7vw;
}

.InputTextAreaPosition {
  margin: 10px;
}

.InputTextArea {
  width: 70%;
  height: 7vh;
}

.LoginLabel {
  display: block;
  margin: 2px;
  font-weight: bold;
  color: #f1f1f1;
}

.BtnPosition {
  position: relative;
  left: 29vw;
}

.RegisterBtn {
  position: relative;
  left: 18px;
  text-decoration: none;
}

.RegisterBtn:hover {
  text-decoration: underline;
}

.RegisterForm {
  height: 75vh;
  width: 50vw;
  overflow-x: nowrap;
  background-color: rgba(46, 125, 50, 0.9);
}

.btn {
  margin: 10px;
}

.PracticeOptionLayout {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.PracticeOption {
  padding: 10px;
  background-color: #0275d8;
  border-left: 2px solid white;
  color: white;
}

.PracticeOption:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*Guest Page */
/* .record-screen-bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("/public/bgs/amazon.jpg");
  background-position: center center;
  background-size: cover;
} */

/* .record-screen {
  position: relative;
  top: 50px;
} */

/* dashboard
.dashboard {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("/public/bgs/mountains.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* Mobile menu */
.dashboard-menu {
  margin-top: 10px;
  /* top:400px; */
}

.dashboard-menu-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 70px;
  padding-top: 10px;
  border-bottom: 2px solid white;
  color: white;
  background-color: #0275d8;
}

.dashboard-menu-option:hover {
  cursor: pointer;
}

.dashboard-menu-option-text {
  position: absolute;
  text-decoration: none;
}



.dashboard-menu-option-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: center;
}

.dashboard-menu-option-text:hover::after {
  transform: scaleX(1);
  transform-origin: center;
  transition-duration: 0.4s;
  text-decoration: none;
}

.dashboard-activity {
  position: relative;
  left: 25vw;
  right: 5vw;
  top: -15vh;
}

.recording-list-box {
   display: flex;
   flex-wrap: wrap;
  /* overflow-x: auto; */

}

.recording-list-element {
  background: #0275d8;
  margin: 10px;
  width: 10vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.recording-list-text {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #f1f1f1;
}

.recording-list-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #f1f1f1;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: center;
}

.recording-list-text:hover::after {
  transform: scaleX(1);
  transform-origin: center;
  transition-duration: 0.4s;
  text-decoration: none;
}

.recording-list-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 32px;
  height: 32px;
  border: 2px solid;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  color: #f1f1f1;
}

.recording-list-icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 12px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 13px solid;
  top: 7px;
  left: 10px;
}
